[submodule "godot"]
	path = thirdparty/godot
	url = https://github.com/migeran/godot
[submodule "SwiftGodot"]
	path = thirdparty/SwiftGodot
	url = https://github.com/migeran/SwiftGodot
[submodule "SwiftGodotKit"]
	path = thirdparty/SwiftGodotKit
	url = https://github.com/migeran/SwiftGodotKit
[submodule "godot-cpp"]
	path = thirdparty/godot-cpp
	url = https://github.com/migeran/godot-cpp
