[submodule "godot"]
	path = godot
	branch=libgodot_fixes_4.5
	url = https://github.com/migeran/godot
[submodule "godot-cpp"]
	path = godot-cpp
	branch=libgodot_migeran_4.5
	url = https://github.com/migeran/godot-cpp
